<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
      <mdl-layout-header>
         <mdl-layout-header-row>
            <mdl-layout-title>Analytics Dashboard</mdl-layout-title>
            <!-- Navigation. We hide it in small screens. -->
            <nav style="margin-left: 5%" class="mdl-navigation mdl-layout--large-screen-only">
               <a class="mdl-navigation__link" [routerLink]="['/']" >Dashboard</a>
               <a class="mdl-navigation__link" [routerLink]="['/map']" >World Map</a>
               <a class="mdl-navigation__link" [routerLink]="['/users']" >Users Managment</a>
               <a class="mdl-navigation__link" [routerLink]="['/promotions']" >Promotions Managment</a>
               <a class="mdl-navigation__link" >Help</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-content>
          <router-outlet></router-outlet>
      </mdl-layout-content>
   </mdl-layout>
</div>